{% extends 'base.html' %}

{% block content1 %}
<form action = "{{ url_for('post_feed') }}" method = "GET">

<h1>Check out all posts below!</h1>

<br>
<br>
<div>
	{% for post in posts %}
	<div>
		<a href="/p/{{postid}}/"><b> {{timestamp}} </b></a>
		<h1>By <a href="/user_page/{{post.username}}/">{{post.username}} </a> in {{post.city}} </h1>
		<p> {{post.post_text}} </p>
		<p> {{post.weather}} </p>
		<p> Post ID: {{post.id}} </p>
		
		<hr>
		<br>
	</div>
	{% endfor %}
</div>

{% if not posts %}
    There are no saved tweets to show.
{% endif %}

{% endblock %}